p {
  font-size: 40px;
}

.header {
  text-align: center;
}

.img {
  text-align: center;
  padding-bottom: 50px;
}

.resize-image {
  width: 30%;
  height: auto; 
}
.resize-image2 {
  width: 50%;
  height: auto; 
}
