p {
  font-size: 40px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.img {
  text-align: center;
  padding-bottom: 50px;
}

.resize-image {
  width: 30%;
  height: auto; 
}
.resize-image2 {
  width: 45%;
  height: auto; 
}

.contact-button {
    position: fixed;
    top: 10px;
    right: 10px;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
