/* Centering container and embed */
.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
}

/* Embed styling */
.embed iframe {
  width: 100%;
  max-width: 1200px; /* Maximum width for larger screens */
  height: auto;
}

/* Make the embed responsive */
@media screen and (max-width: 1600px) {
  .embed iframe {
    height: 600px; /* Smaller height for medium screens */
  }
}

@media screen and (max-width: 1200px) {
  .embed iframe {
    height: 500px; /* Smaller height for smaller screens */
  }
}

@media screen and (max-width: 800px) {
  .embed iframe {
    height: 400px; /* Height adjustment for very small screens */
  }
}

/* Header styling */
p {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/* Contact button styling */
.contact-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

.contact-button a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
}
